    {% extends "design/base.html" %}

    {% block content %}
    <div class="row text-center">
        <div class="col-12">
            <p class="lead">Executive Officer's</p>
        </div>
    </div>
        <div class='row text-center'>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="/static/img/13.jfif" alt="Card image" height="500px" width="100px">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>RASHMIKA MANDANNA</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                <b>President</b> <cite title="Source Title">of a company</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="/static/img/14.jfif" alt="Card image" height="500px" width="100px">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>BRIE LARSONS</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                <b>Cheif Executive Officer</b> <cite title="Source Title">of a company</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="/static/img/15.jfif" alt="Card image" height="500px" width="100px">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>EMMA WATSON</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                <b>Cheif Operating Officer</b> <cite title="Source Title">of a company</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="/static/img/16.jfif" alt="Card image" height="500px" width="100px">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>ROBERT DOWNEY JR</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                <b>Cheif Financial Officer</b> <cite title="Source Title">of a company</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="/static/img/17.jfif" alt="Card image" height="500px" width="100px">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>CHRIS HEMSWORTH</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                <b>Cheif Legal Officer</b> <cite title="Source Title">of a company</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="/static/img/18.jfif" alt="Card image" height="500px" width="100px">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>CHRIS EVANS</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                            <b>Cheif Marketing Officer</b><cite title="Source Title">of a company</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        {% endblock  %}